---
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import { Image } from "astro:assets";
import portfolio from "../images/website-portfolio.png";
import movie from "../images/website-movie.png";
import blog from "../images/website-blog.png";
import todo from "../images/website-todo.png";
import gallery from "../images/website-gallery.png";
import countdown from "../images/website-countdown.png";
---

<Layout title="Edward Byrne">
	<section class="hero">
		<h1>Edward Byrne</h1>

		<div class="">
			<p>
				I'm a Front-End Web Developer based in Hertfordshire, England. I
				enjoy creating clean, well-structured, and accessible websites. I
				am proficient in the following frontend technologies:
			</p>
		</div>
		<Skills />
	</section>
	<section class="projects">
		<h2>My projects</h2>
		<div class="projects-wrapper">
			<a href="/posts/post-1/" class="project">
				<div class="image-wrapper" style="background-color: #64fff9;">
					<Image
						src={portfolio}
						alt="Screenshot of the homepage of my portfolio website."
						width="640"
						height="360"
					/>
				</div>
				<div class="text-wrapper">
					<h3>Portfolio</h3>
					<span>Astro</span>
				</div>
			</a>

			<a href="posts/post-2/" class="project">
				<div class="image-wrapper" style="background-color: #9ab;">
					<Image
						src={movie}
						alt="Screenshot of the homepage of my movie website."
						width="640"
						height="360"
					/>
				</div>
				<div class="text-wrapper">
					<h3>Movie App</h3>
					<span>React</span>
				</div>
			</a>

			<a href="posts/post-3/" class="project">
				<div class="image-wrapper" style="background-color: #f04d57;">
					<Image
						src={blog}
						alt="Screenshot of the homepage of my blog website."
						width="640"
						height="360"
					/>
				</div>
				<div class="text-wrapper">
					<h3>Blog</h3>
					<span>React</span>
				</div>
			</a>

			<a href="posts/post-4/" class="project">
				<div class="image-wrapper" style="background-color: white;">
					<Image
						src={todo}
						alt="Screenshot of the homepage of my todo website."
						width="640"
						height="360"
					/>
				</div>
				<div class="text-wrapper">
					<h3>Todo</h3>
					<span>React</span>
				</div>
			</a>

			<a href="posts/post-5/" class="project">
				<div class="image-wrapper" style="background-color: #20c997;">
					<Image
						src={gallery}
						alt="Screenshot of the homepage of my gallery website."
						width="640"
						height="360"
					/>
				</div>
				<div class="text-wrapper">
					<h3>Gallery</h3>
					<span>JavaScript</span>
				</div>
			</a>

			<a href="posts/post-6/" class="project">
				<div class="image-wrapper" style="background-color: #A49B1A;">
					<Image
						src={countdown}
						alt="Screenshot of the homepage of my countdown website."
						width="640"
						height="360"
					/>
				</div>
				<div class="text-wrapper">
					<h3>Countdown</h3>
					<span>JavaScript</span>
				</div>
			</a>
		</div>
	</section>
	<section class="contact">
		<p>
			Available for full-time hire or freelance.
			<a href="mailto:edward@eddbyrne.com">edward@eddbyrne.com</a>
		</p>
	</section>
</Layout>

<style lang="scss">
	.icon-wrapper {
		display: flex;
		gap: 2rem;
		div {
			background-color: white;
			border-radius: 5px;
			height: 50px;
			width: 50px;
		}
	}
	.hero {
		padding-top: 13rem;
		gap: 2.5rem;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		span {
			display: block;
		}
		p {
			max-width: 550px;
			line-height: 1.7;
			margin: 0;
		}
	}

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: var(--large);
		font-weight: 600;
		line-height: 1;
		margin: 0;
	}
	h2 {
		font-size: var(--medium);
		padding-bottom: 2rem;
	}
	p {
		font-size: var(--medium);
	}

	// projects
	.projects-wrapper {
		display: grid;
		grid-template-columns: repeat(2, calc(50% - 1rem));
		gap: 2rem;
		@media (max-width: 800px) {
			grid-template-columns: 100%;
		}
		a {
			text-decoration: none;
			transition: 0.5s ease-out;
		}
		a:hover > div > h3 {
			color: var(--color-accent);
		}
	}
	.project {
		display: block;
	}
	.image-wrapper {
		padding: 3rem 2.5rem;
	}
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	//contact
	section {
		p {
			max-width: 550px;
		}
	}
	.text-wrapper {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 0.5rem;
		padding-top: 1rem;
		span {
			font-size: var(--smallest);
			font-weight: 500;
			color: #959595;
			background-color: #122b39;
			border-radius: 9999px;
			padding: 0.25rem 0.75rem;
		}
		p {
			color: grey;
		}
		h3,
		p {
			color: var(--color-primary);
			text-decoration: none;
			margin: 0;
		}
	}
	.contact {
		display: flex;
		flex-direction: column;
		padding-top: 10rem;
		a {
			font-weight: 600;
			color: var(--color-accent);
		}
	}
</style>
