---
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import { Image } from "astro:assets";
import projectPopcorn from "../images/projectPopcorn.png";
import projectBlog from "../images/project-blog.png";
import projectCountdown from "../images/project-countdown.png";
import projectPortfolio from "../images/project-portfolio.png";
import projectTodo from "../images/project-todo.png";
import { Icon } from "astro-icon";

---

<Layout title="Welcome to Astro.">
	<section class="hero">
		<h1>Edward Byrne</h1>

		<div class="">
			<p>
				I'm a Front-End Web Developer based in Hertfordshire, England, I
				enjoy creating clean, well-structured and accessible websites. I
				am proficient in the following frontend technologies:
			</p>
		</div>
			<Skills />
	</section>
	<section class="projects">
		<h2>My projects</h2>
		<div class="projects-wrapper">
			<a href="/posts/post-1/" class="project">
				<div class="image-wrapper">
					<Image
						src={projectPopcorn}
						alt="A bird sitting on a nest of eggs."
					/>
				</div>
				<div class="text-wrapper">
					<h3>Movie App</h3>
					<span>React</span>
				</div>
			</a>

			<a href="posts/post-2/" class="project">
				<div class="image-wrapper">
					<Image
						src={projectBlog}
						alt="A bird sitting on a nest of eggs."
					/>
				</div>
				<div class="text-wrapper">
					<h3>Todo App</h3>
					<span>Astro</span>
				</div>
			</a>

			<a href="posts/post-3/" class="project">
				<div class="image-wrapper">
					<Image
						src={projectCountdown}
						alt="A bird sitting on a nest of eggs."
					/>
				</div>
				<div class="text-wrapper">
					<h3>Movie App</h3>
					<span>React</span>
				</div>
			</a>

			<a href="posts/post-4/" class="project">
				<div class="image-wrapper">
					<Image
						src={projectTodo}
						alt="A bird sitting on a nest of eggs."
					/>
				</div>
				<div class="text-wrapper">
					<h3>Todo App</h3>
					<span>Astro</span>
				</div>
			</a>

			<a href="posts/post-5/" class="project">
				<div class="image-wrapper">
					<Image
						src={projectPortfolio}
						alt="A bird sitting on a nest of eggs."
					/>
				</div>
				<div class="text-wrapper">
					<h3>Movie App</h3>
					<span>React</span>
				</div>
			</a>

			<a href="posts/post-6/" class="project">
				<div class="image-wrapper">
					<Image
						src={projectPopcorn}
						alt="A bird sitting on a nest of eggs."
					/>
				</div>
				<div class="text-wrapper">
					<h3>Todo App</h3>
					<span>Astro</span>
				</div>
			</a>
		</div>
	</section>
	<section class="contact">
		<p>
			Available for select freelance projects.
			<a href="mailto:">edward@eddbyrne.com</a>
		</p>
	</section>
</Layout>

<style lang="scss">
	.icon-wrapper {
		display: flex;
		gap: 2rem;
		div {
			background-color: white;
			border-radius: 5px;
			height: 50px;
			width: 50px;
		}
	}
	main {
		color: white;
	}
	.hero {
		padding-top: 13rem;
		gap: 2.5rem;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		span {
			display: block;
		}
		p {
			max-width: 550px;
			font-size: 1.125rem;
			line-height: 1.7;
			margin: 0;
		}
	}

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 20px;
		font-weight: 600;
		line-height: 1;
		margin: 0;
	}
	h2 {
		font-size: 18px;
		padding-bottom: 2rem;
	}

	// projects
	.projects-wrapper {
		display: grid;
		grid-template-columns: repeat(2, calc(50% - 1rem));
		gap: 2rem;
		@media (max-width: 800px) {
			grid-template-columns: 100%;

		}
		a {
			text-decoration: none;
			transition: 0.5s ease-out;
		}
		a:hover > div > h3 {
			color: rgb(100, 255, 218);
		}
		a:hover {
				transform: translateY(-0.5rem);
			}
	}
	.project {
		display: block;
	}
	.image-wrapper {
		background-color: #877eff;
		padding: 3rem 2.5rem;
	}
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	//contact
	section {
		p {
			max-width: 550px;
		}
	}
	.text-wrapper {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 0.5rem;
		padding-top: 1rem;
		span {
			font-size: 12px;
			font-weight: 500;
			color: #64ffda;
			background-color: #122b39;
			border-radius: 9999px;
			padding: 0.25rem 0.75rem;
		}
		p {
			color: grey;
		}
		h3,
		p {
			color: white;
			text-decoration: none;
			font-size: 1.125rem;
			margin: 0;
		}
	}
	.contact {
		display: flex;
		flex-direction: column;
		padding-top: 10rem;

		a {
			font-weight: 600;
			text-decoration: none;
			text-decoration: underline;
			color: #64ffda;
		}
	}
</style>
