---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
console.log(frontmatter);
import { Icon } from "astro-icon";
---

<Layout title={frontmatter.title}>
    <div class="blog-wrapper">
        <button onclick="
        history.back()
        ">
            <Icon name="arrow_icon" />
            <span>Go back to homepage</span>
        </button>

        <h1>{frontmatter.title}</h1>
        <p class="blog-description">{frontmatter.description}</p>
        <div class="content">
            <slot />
        </div>

        <h2>Technologies</h2>
        <div class="blog-tech">
            {frontmatter.technologies.map((tec) => <span>{tec}</span>)}
        </div>
        <h2>Website</h2>
        <a
            class="blog-links"
            href={frontmatter.website}
            target="_blank"
            rel="noopener noreferrer">{frontmatter.website}</a
        >
        <h2>Github</h2>
        <a
            class="blog-links"
            href={frontmatter.github}
            target="_blank"
            rel="noopener noreferrer">{frontmatter.github}</a
        >
    </div>
</Layout>

<style lang="scss">
    .blog-wrapper {
        margin-top: 8rem;
        h1 {
            font-size: var(--large);
        }
        h2 {
            margin-top: 3rem;
            font-size: var(--medium);
        }
    }

    button {
        background: none;
        border: none;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 1rem;
        color: white;
        text-decoration: none;
        margin-bottom: 5rem;
        text-decoration: none;
        transition: 0.3s ease-out;
        &:hover {
            color: #64ffda;
        }
        &:hover > svg {
            transform: translateX(-0.4rem);
        }
        span {
            color: var(--color-primary);
            font-size: var(--small);
            font-weight: 700;
        }
    }

    [astro-icon] {
        height: 30px;
        color: var(--color-primary);
        transition: 0.5s ease-out;
    }

    .blog-description {
        color: var(--color-secondary);
        font-weight: 600;
        font-size: var(--medium);
    }
    .content {
        max-width: 800px;
        font-size: var(--medium);
    }

    .blog-tech {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 0.7rem;
        margin: 0;

        span {
            font-size: var(--smallest);
            font-weight: 500;
            color: #959595;
            background-color: #122b39;
            border-radius: 9999px;
            padding: 0.25rem 0.75rem;
        }
    }
    .blog-links {
        color: var(--color-accent);
        font-size: var(--medium);

        &:hover {
            text-decoration: underline;
        }
    }
</style>
